<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>scancode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04161EC41B92E5CD00E34DD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04161ED81B92E5CE00E34DD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04161EE31B92E5CE00E34DD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
